@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&family=Protest+Strike&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.name {
    font-family: sans-serif;
    font-size: 80px;
    text-transform: uppercase;
    font-weight:400;
    text-align: center;
    margin-top: 50px;
    height: 150px;
    letter-spacing: 20px;
}
.title {
    height: 40px;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 5px;
    margin-top: 10px;
}
hr {
    color: grey;
}
.details {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.left {
    width: 800px;
    border-right: 1px solid black;
    margin-left: 50px;
}
.contact {
    font-size: 30px;
    font-weight: 200;
    text-transform: uppercase;
}
.icon {
    margin-right: 10px;
    color: black;
}
.link {
    padding-top: 40px;
    line-height: 30px;
}
.skills {
    font-size: 30px;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 40px;
}
ul li {
    list-style: none;
    line-height: 25px;
}
.education {
    font-size: 30px;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 40px;
}
.right {
    width: 100%;
    margin-left: 100px;
}
.about {
    font-size: 30px;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 40px;
}
.experience {
    font-size: 30px;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 40px;
}
.job {
    font-size: 30px;
    font-weight: 200;
}
.projects {
    font-size: 30px;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 40px;
}
